.header {
    text-align: center;
    font-size: 40px;
}

.item {
    display: flex;
    font-size: 20px;
}

.label, .field {
    display: flex;
}

.labelText {
    margin-right: 10px;
}

.cell {
    flex: 0 0 200px;
    height: 50px;
    border: 2px solid black;
    padding: 10px;
    margin: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionHeader {
    font-size: 25px;
}