.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.course_session {
    display: flex;
    height: inherit;
}


.right {
    border-color: lightgreen;
}

.wrong {
    border-color: red;
}

.progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}