.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

.logo {
    font-size: 20px;
}

.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.userIcon {
    display: block;
    color: black;
    padding: 10px;
    cursor: pointer;
}