.container {
    display: flex;
    flex-direction: column;

    height: 100%;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.flashcard {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key {
    font-size: 150px;
}

.value {
    font-size: 50px;
}

.bar {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.wrapper {
    margin-bottom: 50px;
}

.actions {
    margin-top: 50px;
}

.button {
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.buttonIcon {
    margin-left: 10px;
}

.header {
    text-align: center;
    font-size: 40px;
}