.back {
    display: flex;
    align-items: center;
    padding: 0 10px;

    font-size: 20px;
}

.backTitle {
    margin-left: 10px;
}

.title {
    flex: 1;

    font-size: 40px;
    text-align: center;
}

.searchbox {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
}

.sectionHeader {
    font-size: 30px;
}

.input {
    width: 300px;
    border: none;
    padding: 10px;
    font-size: 30px;
    border-bottom: 1px solid black;

    &:focus {
        outline: none;
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}