.container {
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}



.searchbox {
    display: flex;
    align-items: center;
}

.input {
    padding: 10px;
    border: none;
    font-size: 20px;

    &:focus {
        outline: none;
    }
}

.filter {
    cursor: pointer;
}

.languageFilter {
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.languageFilterIcon {
    padding: 10px;
    cursor: pointer;
}