.container {
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    border: 1px solid lightgray
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
}

.headerCell {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playIcon {
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}

.phrase {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.meaning {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.searchbox {
    display: flex;
    align-items: center;
}

.input {
    padding: 10px;
    border: none;
    font-size: 20px;

    &:focus {
        outline: none;
    }
}

.filter {
    cursor: pointer;
}

.languageFilter {
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.languageFilterIcon {
    padding: 10px;
    cursor: pointer;
}