.text {
    font-size: 50px;
}

.phrase {
    display: flex;
    align-items: center;
}

.back {
    margin-left: 10px;
}

.strokeMoveImage {
    width: 200px;
}

.player {
    display: flex;
}

.playOverlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.strokesList {
    display: flex;
}

.content {
    padding: 10px;
}

.section {
    font-size: 20px;
}

.playIcon {
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}

.sentenceItem {
    display: flex;
    align-items: center;
}

.sentenceText {
    font-size: 30px;
}