.courses {
    height: inherit;

    display: flex;
    flex-direction: column;
}

.header {
    font-size: 50px;
    text-align: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.button {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid black;
    display: flex;

    transition: background-color .5s;

    border-radius: 20px;

    &:hover {
        background-color: lightgray;
    }
}

.continuePopup {
    position: absolute;
    bottom: 20px;
    left: 20px;
}